<form style="text-align: right;">
  <div class="input-group">
    <label>Admin level</label>
    <select name="admlevel" required></select>
  </div>

  <div class="input-group">
    <label>Areas (none selected = all)</label>
    <select name="subgeography_names"
            style="width: 100%; min-height: 10em;"
            multiple></select>
  </div>

  <div class="input-group">
    <label>Resolution</label>
    <input name="resolution"
           type="integer"
           required />
  </div>

  <div class="input-group">
    <button type="submit">Pave it!</button>
  </div>
</form>

<pre id="infopre"></pre>
