DIST = ./dist
DT_HOST = localhost
DT_BASE = "http://eae.localhost/admin"
DT_DEST = "/tmp"
DT_API = "http://localhost:3000"
DT_SRC = "https://noop.nu/dist/duck-tape/bundle.js"
DT_PRODUCTION = "http://eae.localhost/tool"
DT_STORAGE = null
DT_LOGO = null
DT_UPLOAD = null
DT_PROJECT = "Energy Access Explorer"
AUTH_SERVER = "https://eae_auth.localhost"
