#ds-features-table main {
  overflow: scroll;
}

body > main .actions-drawer a {
  display: inline-block;
}

body > main td:nth-of-type(5),
body > main td:nth-of-type(6),
body > main td:nth-of-type(7),
body > main td:nth-of-type(8),
body > main td:nth-of-type(9) {
  text-align: center;
  font-size: 0.9em;
  padding: 0.7em 0.9em;
}

#badges {
  text-align: right;
  padding: 6px 0;
  margin: 0 20px;
}

.badge {
  font-family: monospace;
  display: inline-block;
  padding: 5px 12px;
  border: 1px solid gray;
  border-radius: 1em;
  margin-top: 1em;
  margin-left: 1em;
  background-color: lightgray;
  font-size: 0.8em;
}
