<tr>
  <td><a bind-icon="edit"></a><span bind="name_long"></span></td>
  <td bind="name"></td>
  <td bind="features"></td>
  <td bind="unit"></td>
  <td>
    <a bind-attr="href"
       bind-value="id"
       bind-format="/?model=datasets&category_id={0}">
      <span bind="dscount"></span>
    </a>
  </td>
  <td>
    <span bind-value="created" bind-lambda="human_time"></span>
    <span bind-value="created_by" bind-lambda="email_user" bind-format="({0})"></span>
  </td>

  <td>
    <span bind-value="updated" bind-lambda="human_time"></span>
    <span bind-value="updated_by" bind-lambda="email_user" bind-format="({0})"></span>
  </td>
</tr>
