table td:nth-of-type(1),
table td:nth-of-type(2) {
  font-family: monospace;
}

table td:nth-of-type(3) {
  text-align: right;
}

li {
  overflow-x: unset !important;
  text-overflow: unset !important;
}

[bind="id-fetch-results"] {
  max-width: 100ch !important;
}

[bind="id-fetch-results"] code {
  color: #cccccc;
}
